.header {
  background-color: white;
  padding: 10px 15px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.header>img {
  width: 100px;
  /* height: 60px; */
  object-fit: contain;
}

.header>.logs__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1.5px solid grey;
  padding: 10px 20px;
  cursor: pointer;
}

.header>.logs__wrapper>p {
  cursor: pointer;
}
