.post {
  border: 1px lightgrey solid;
  background-color: white;
  max-width: 600px;
  width: 90%;
}

.post img {
  width: 100%;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  object-fit: contain;
}

h4 {
  font-weight: normal;
  padding: 20px;
}

.post__header {
  display: flex;
  align-items: center;
  padding: 15px;
}

.post__header h3 {
  margin-left: 10px;
}
